label {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  color: #697882;
  font-size: 22px;
  margin-left: initial;
  margin-top: initial;
}

.corHabilita {
  background-color: #428bca;
  color: #fff;
}

.corDesabilita {
  background-color: #7892a1;
}
