<br />
<label for="selecao">Selecione o convidado</label>
<input
  id="selecao"
  list="colaborador"
  class="form-control"
  #valorColaborador
  (click)="valorColaborador.value = ''"
/>
<datalist id="colaborador">
  <option *ngFor="let con of this.dadosConvidados" [value]="con.nome"></option>
</datalist>

<!--<div class="card" style="margin-inline: initial">
  <h5 *ngIf="!this.habilitaSpinner">Convidados</h5>
  <div *ngIf="this.habilitaSpinner" class="c-loader container"></div>
  <ul class="list-group" *ngIf="!this.habilitaSpinner"></ul>
</div>-->
